<div class=" text-center">
  <h1>Orçamentos</h1>
</div>


<form class="container">


  <fieldset class="scheduler-border">
    <legend class="scheduler-border text-white p-1 m-2 " ><b>Custo da mão de obra direta</b></legend>


  <div class="custom-container d-flex p-2 bd-highlight flex-wrap  ">

  <div class="custom-container-table border d-flex p-2 bd-highlight justify-content-center">
    <div class="table-responsive ">
      <h4 class=""><b>Caldeiraria</b></h4>
    <table class="table table-responsive bg-table w-100 d-block d-md-table">
      <thead class="text-center">
        <th scope="col"></th>
        <th scope="col">Horas</th>
        <th scope="col">R$/h</th>
        <th scope="col">R$</th>
      </thead>

      <tbody>
        <tr>
          <th scope="row" class="table-label-name">Oxi-Traçagem</th>
          <td><input type="number" class="input-number"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>

        </tr>
        <tr>
          <th scope="row" class="table-label-name">Calandrar</th>
          <td><input type="number" class="input-number"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
        </tr>
        <tr>
        <tr>
          <th scope="row" class="table-label-name">Prençar</th>
          <td><input type="number" class="input-number"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
        </tr>
        <tr>
        <tr>
          <th scope="row" class="table-label-name">Soldar</th>
          <td><input type="number" class="input-number"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>

        </tr>
        <tr>
          <th scope="row" class="table-label-name">Montar/Acabamento</th>
          <td><input type="number" class="input-number"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
        </tr>
        <tr>
        <tr>
          <th scope="row" class="table-label-name">Tratamento Térmico</th>
          <td><input type="number" class="input-number"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
        </tr>
        <tr>
        <tr>
          <th scope="row" class="table-label-name">Refratamento</th>
          <td><input type="number" class="input-number"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>

        </tr>
        <tr>
          <th scope="row" class="table-label-name">Jateamento</th>
          <td><input type="number" class="input-number"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
        </tr>
        <tr>
        <tr>
          <th scope="row" class="table-label-name">Pintura</th>
          <td><input type="number" class="input-number" ></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
        </tr>
        <tr class="table-total">
          <th class="text-end " scope="row" colspan="3"> Sub total 1:</th>
          <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>


  <!-- <div class="custom-container-table border d-flex p-2 bd-highlight justify-content-center">
    <div class="table-responsive ">
      <h4 class=""><b>Usinagem</b></h4>
      <table class="table table-responsive bg-table w-100 d-block d-md-table ">
          <thead class="text-center">
            <th scope="col"></th>
            <th scope="col">Horas</th>
            <th scope="col">R$/h</th>
            <th scope="col">R$</th>
          </thead>

          <tbody>
            <tr>
              <th scope="row" class="table-label-name">Usinagem CNC-Mandriladora</th>
              <td><input type="number" class="input-number"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>

            </tr>
            <tr>
              <th scope="row" class="table-label-name">Torno Vertical</th>
              <td><input type="number" class="input-number"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>

            </tr>
            <tr>
              <th scope="row" class="table-label-name">Torno Horizontal</th>
              <td><input type="number" class="input-number"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>

            </tr>
            <tr>
              <th scope="row" class="table-label-name">Traçagem</th>
              <td><input type="number" class="input-number"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>

            </tr>
            <tr>
              <th scope="row" class="table-label-name">Furação</th>
              <td><input type="number" class="input-number"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>

            </tr>
            <tr class="table-total">
              <th class="text-end" scope="row" colspan="3"> Sub total 2:</th>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
            </tr>
        </tbody>
      </table>

      <h4 class=""><b>Montagem/Ajustes</b></h4>
      <table class="table table-responsive bg-table w-100 d-block d-md-table ">
          <thead class="text-center">
            <th scope="col"></th>
            <th scope="col">Horas</th>
            <th scope="col">R$/h</th>
            <th scope="col">R$</th>
          </thead>

          <tbody>
            <tr>
              <th scope="row" class="table-label-name">Montagem Elétrica</th>
              <td><input type="number" class="input-number"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>

            </tr>
            <tr>
              <th scope="row" class="table-label-name">Mont/Acabamentos</th>
              <td><input type="number" class="input-number"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>

            </tr>
            <tr class="table-total">
              <th class="text-end" scope="row" colspan="3"> Sub total 3:</th>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="custom-container-table border d-flex p-2 bd-highlight justify-content-center ">
    <div class="table-responsive d-flex row align-items-center ">

      <div>
        <h4 class=""><b>Controle de qualidade</b></h4>
        <table class="table table-responsive bg-table w-100 d-block d-md-table ">
            <thead class="text-center">
              <th scope="col"></th>
              <th scope="col">Horas</th>
              <th scope="col">R$/h</th>
              <th scope="col">R$</th>
            </thead>

            <tbody>
              <tr>
                <th scope="row" class="table-label-name">Inspetor de qualidade</th>
                <td><input type="number" class="input-number"></td>
                <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
                <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              </tr>
          </tbody>

        </table>
      </div>

    <div>
      <h4 class=""><b>Engenharia</b></h4>
      <table class="table table-responsive bg-table w-100 d-block d-md-table ">
          <thead class="text-center">
            <th scope="col"></th>
            <th scope="col">Horas</th>
            <th scope="col">R$/h</th>
            <th scope="col">R$</th>
          </thead>

          <tbody>
            <tr>
              <th scope="row" class="table-label-name">Engenharia:Proj./Des.</th>
              <td><input type="number" class="input-number"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
            </tr>
        </tbody>

      </table>
    </div>

    <div>
      <h4 class=""><b>Total</b></h4>
      <table class="table table-responsive w-100 d-block d-md-table ">
          <thead class="text-center">
            <th scope="col"></th>
            <th scope="col">Horas</th>
            <th scope="col">Média</th>
            <th scope="col">Totais(R$)</th>
          </thead>

          <tbody>
            <tr>
              <th scope="row">Sub Total M.O Fábrica:</th>
              <td><input type="number" class="input-number"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
            </tr>
            <tr class="table-total">
              <th scope="row">TOTAL MÃO DE OBRA:</th>
              <td><input type="number" class="input-number"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
              <td><input type="number" class="input-number" min="0.00" step="0.01"></td>
            </tr>
        </tbody>

      </table>
    </div>

    </div>

  </div> -->


</div>

</fieldset>
</form>
